# ===============================
# Node.js
# ===============================
node_modules/
npm-debug.log*
yarn-error.log*

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Prisma
# ===============================
prisma/migrations/

# ===============================
# Uploads do PDV
# ===============================
uploads/
backend/uploads/

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# IDEs / Editores
# ===============================
.idea/
.vscode/
*.iml

# ===============================
# Build
# ===============================
dist/
build/

# ===============================
# Sistema Operacional
# ===============================
.DS_Store
Thumbs.db
#Backup Android
android-app_backup/
